body {
  font-family: "Source Sans Pro", sans-serif;
}

@font-face {
  font-family: "yupstar";
  src: url("../fonts/yupstar.eot?q9xr5");
  src: url("../fonts/yupstar.eot?q9xr5#iefix") format("embedded-opentype"),
    url("../fonts/yupstar.ttf?q9xr5") format("truetype"),
    url("../fonts/yupstar.woff?q9xr5") format("woff"),
    url("../fonts/yupstar.svg?q9xr5#yupstar") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "yupstar" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paw:before {
  content: "\e912";
}
.icon-arrow-bottom:before {
  content: "\e900";
}
.icon-arrow-top:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-linkedin:before {
  content: "\e904";
}
.icon-wheel:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-instagram:before {
  content: "\e908";
}
.icon-messenger:before {
  content: "\e909";
}
.icon-twitter:before {
  content: "\e90a";
}
.icon-newsletter:before {
  content: "\e90b";
}
.icon-userLove:before {
  content: "\e90c";
}
.icon-cloud:before {
  content: "\e90d";
}
.icon-sun:before {
  content: "\e90e";
}
.icon-happy:before {
  content: "\e90f";
}
.icon-info:before {
  content: "\e910";
}
.icon-menu:before {
  content: "\e911";
}

header {
  display: flex;
  align-items: center;
  border-top: 2px solid #00b1ff;
  padding: 10px 24px;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(25, 26, 26, 0.08);

  & .header-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 24px;
  }
}

h1 {
  font-weight: 600;
  font-size: 72px;
  line-height: 91px;
}

.heading-4 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
}

.heading-5 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
}

.heading-6 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
}

.body {
  font-size: 16px;
  line-height: 28px;
}

.primary-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #374ea2;
  text-decoration: none;
}

.action-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

a,
.btn {
  transition: all 0.2s ease-in;
}

.btn {
  box-shadow: 0px 2px 4px rgba(25, 26, 26, 0.08);
  border-radius: 9px;
  border: 1px solid transparent;
  padding: 16px 24px;
  font-size: 18px;
  line-height: 24px;
  gap: 8px;
  display: flex;
  align-items: center;
  font-weight: 600;

  & .icon {
    opacity: 0.6;
  }

  &.sm {
    font-size: 16px;
    line-height: 20px;
    padding: 8px 16px;
  }

  &.neutral-btn {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.04);
    color: #374ea2;

    & .icon {
      opacity: 1;
      color: #00b1ff;
    }

    &:hover {
      color: #00b1ff;
      border: 1px solid rgba(0, 177, 255, 1);
    }
  }

  &.outline-btn {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 1);
    color: #fff;

    &:hover {
      color: #00b1ff;
      background-color: rgba(255, 255, 255, 1);
    }
  }

  &.primary-btn {
    background: #f43482;
    border: 1px solid rgba(0, 0, 0, 0.04);
    color: #fff;

    &:hover {
      background-color: #c20a55;
    }
  }
}

.main-hero {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  padding-top: 160px;
  justify-content: center;

  & .internal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px;
    color: #fff;
    border: 4px dashed #ffffff;
    border-radius: 24px;
    max-width: 680px;
    margin: 0 auto;
    gap: 16px;
    text-align: center;
  }
  &::before {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background: url("../img/hero-bg.png") no-repeat center 90%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.full-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.wheel-nav {
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: center;
  &.oriented {
    margin-top: -10%;
    position: absolute;
    z-index: 3;
  }
}

.wheel-card {
  background: #ffffff;
  box-shadow: 0px 8px 8px rgba(25, 26, 26, 0.08);
  border-radius: 16px;
  color: #313435;
  display: flex;
  padding: 32px;
  width: 660px;
  position: relative;
  overflow: hidden;
  height: 270px;
  transition: all 0.2s ease-in;

  &:hover {
    box-shadow: 0px 28px 18px rgba(25, 26, 26, 0.28);
    transform: translateY(-10px);
  }

  & img {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    width: 100%;
  }

  & .heading-6 {
    font-weight: 400;

    & strong {
      font-weight: 600;
      margin-bottom: 8px;
      display: block;
    }
  }

  & .arrow-link {
    font-size: 50px;
    position: absolute;
    right: 32px;
    top: 32px;
  }

  &.rio {
    & .arrow-link {
      color: #00b1ff;
    }
  }
  &.foz {
    & .arrow-link {
      color: #374ea2;
    }
  }
}

.info-section {
  height: 90vh;
  position: relative;

  &.dark-blue {
    background-color: #002d72;
  }

  & .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 300px 0;

    & .arrow-link {
      margin-top: 48px;
      font-size: 50px;
      text-decoration: none;
      color: #00b1ff;
    }

    & .detail-before {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    & .detail-after {
      position: absolute;
      top: 0;
      right: 0;
    }

    & h3 {
      max-width: 900px;
    }
  }
}

.image-holder {
  overflow: hidden;
  width: 100%;
  border-radius: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  object-fit: cover;
  max-height: 500px;
  position: relative;
}

.detail-holder {
  position: relative;
  .image-holder-detail {
    position: absolute;
    z-index: 2;
    bottom: -15%;
    left: -50%;
  }
}

.section-pool {
  padding: 120px 0;
}

.pool-content {
  padding: 24px;
  & .action-holder {
    justify-content: flex-start;
    padding: 16px 0;
  }
}

.custom-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;

  background: #ffffff;
  box-shadow: 0px 8px 8px rgba(25, 26, 26, 0.08);
  border-radius: 19px;
  margin: 16px;

  & .body {
    & i {
      display: block;
      margin-top: 24px;
      opacity: 0.6;
    }
  }

  & .icon {
    font-size: 40px;
    padding: 24px 0;

    &.pink {
      color: #f43482;
    }

    &.yellow {
      color: #fdb913;
    }

    &.blue {
      color: #00b1ff;
    }
  }

  & .image-holder {
    align-items: flex-start;
    justify-content: center;
    object-fit: none;
    max-height: 400px;

    & img {
      width: 100%;
    }
  }
}

.custom-image-section {
  transform: skewY(-6deg);
  height: 1000px;
  background: url("../img/happiness.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 120px;

  & .image-section-content {
    transform: skewY(6deg);

    & .custom-card {
      position: relative;
      max-width: 600px;
      bottom: -106px;
      margin-right: 32px;
    }
  }
}

.full-detail {
  width: 100%;
}

.yup-section {
  padding: 120px 0;

  & .image-holder {
    height: 600px;
    object-fit: none;

    & img {
      width: 120%;
    }
  }
}

.location-pool-section {
  display: flex;
  overflow: hidden;

  & .main-content {
    background-color: #fdb913;
    color: #313435;
    width: 100%;
    padding: 70px;

    & .wheel-nav {
      margin-top: 80px;
    }
  }

  & .dotted-detail {
    height: 100%;
  }
}

footer {
  background-color: #3a509c;
  padding: 120px 0;
  color: #fff;

  & .footer-info {
    padding: 0 48px;
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 32px;

  .footer-link {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
    &:hover {
      opacity: 0.6;
    }
  }
  .footer-sm-link {
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    text-decoration: none;
    &:hover {
      opacity: 0.6;
    }
  }
}

.social-grid {
  padding: 32px 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  & .social-link {
    font-size: 32px;
    color: #fff;
    text-decoration: none;

    &:hover {
      opacity: 0.6;
    }
  }
}
